<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
    	<setting name="logImpl" value="STDOUT_LOGGING" />
    </settings>
    <typeAliases>
        <typeAlias alias="User" type="ims.manager.domain.User"/>
        <typeAlias alias="UserLoginLog" type="ims.manager.domain.UserLoginLog"/>
        
        <typeAlias alias="Factory" type="ims.factory.domain.Factory"/>
        <typeAlias alias="Produces" type="ims.factory.domain.Produces"/>
        <typeAlias alias="ProducesOrder" type="ims.factory.domain.ProducesOrder"/>
        <typeAlias alias="ProducesOrderDetails" type="ims.factory.domain.ProducesOrderDetails"/>
        <typeAlias alias="Cart" type="ims.order.domain.Cart"/>
        <typeAlias alias="Order" type="ims.order.domain.Order"/>
        <typeAlias alias="OrderDetails" type="ims.order.domain.OrderDetails"/>
        <typeAlias alias="Product" type="ims.product.domain.Product"/>
        <typeAlias alias="Props" type="ims.props.domain.Props"/>
        <typeAlias alias="PropsDetails" type="ims.props.domain.PropsDetails"/>
        
    </typeAliases>
</configuration>