<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias alias="User" type="ims.manager.domain.User"/>
        <typeAlias alias="Board" type="ims.pros.domain.Board"/>
        <typeAlias alias="UserLoginLog" type="ims.manager.domain.UserLoginLog"/>
        <typeAlias alias="Post" type="ims.pros.domain.Post"/>
        <typeAlias alias="Reply" type="ims.pros.domain.Reply"/>
    </typeAliases>
</configuration>